@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

//                                                           start header
.header {
   padding-top: 104px;

   @include mq('tablet-2', max) {
      padding-top: 73px;
   }

   &__sticky {
      padding: 60px 5px;
      position: fixed;
      top: 0;
      z-index: 1;
      margin: 0 auto;
      width: 100%;
      transition: padding .3s;

      @include mq('tablet-2', max) {
         padding: 14px 5px;
      }
   }
}

.logo {
   display: block;
   width: 200px;
   height: 39px;
   border-radius: 5px;
   transition: box-shadow 1s, opacity 0.4s;

   @include mq('tablet', max) {
      width: 115px;
      height: 23px;
   }

   &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
   }

   &:hover {
      opacity: .8;
   }

   &:active {
      opacity: .5;
   }
}

.menu {
   align-items: center;
   justify-content: space-between;

   &--active {
      & .menu__list {
         position: absolute;
         top: 89px;
         left: 0;
         display: flex;
         flex-direction: column;
         align-items: start;
         gap: 20px;
         width: 100%;
         padding: 25px 15px;
         border-bottom: 1px solid #EEEFF3;
         background-color: $white;
      }

      & .menu__icons {
         display: none;
      }

      & .logo {
         width: 200px;
         height: 39px;
      }

   }

   &__box {
      align-items: center;

      .burger {
         @include burger;
         display: none;

         @include mq('tablet', max) {
            display: block;
         }
      }
   }

   &__list {
      margin-right: 50px;

      @include mq('tablet', max) {
         margin-right: 0;
         display: none;
      }
   }

   &__item {
      font-size: 18px;
      line-height: 1.16;
      white-space: nowrap;

      &:not(:last-child) {
         margin-right: 45px;
      }

   }

   &__link--active:first-child {
      color: $accent;
   }

   &__icons {
      @include mq('tablet', max) {
         margin-right: 20px;
      }
   }

   &__icon:not(:last-child) {
      margin-right: 12px;
   }

   &__icon-list {
      position: relative;
      display: block;
      width: 44px;
      height: 44px;

      &:hover {
         background-color: $accent-low;
         box-shadow: none;

         & .menu__icon-img {
            stroke: $white;
         }

         .menu__icon-number {
            background-color: $white;
            color: $accent;
         }
      }

      &:active {
         box-shadow: none;
         background-color: rgba($accent-low, .1);
         stroke: $title;
      }
   }

   &__icon-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 21px;
      height: 23px;
      stroke: $title;
      stroke-width: 1.6px;
      fill: transparent;
   }

   &__icon-number {
      position: absolute;
      display: inline-block;
      top: 8px;
      left: 25px;
      padding: 3px 4px 2px 4px;
      line-height: 1;
      border-radius: 50%;
      font-size: 10px;
      background-color: $accent;
      color: $white;
      transition: background-color .4s, color .4s;
   }
}

//                                                                end header
//                                                                start about

.about {
   &__inner {
      justify-content: space-between;
      align-items: center;

      @include mq('tablet-2', max) {
         position: relative;
         justify-content: flex-start;
         min-height: 348px;
      }

      @include mq('phone', max) {
         min-height: 345px;
         justify-content: center;
      }
   }

   &__info {
      max-width: 450px;

      @include mq('phone', max) {
         max-width: 345px;
      }
   }

   &__title {
      @extend %rubik-500;
      text-transform: uppercase;
      font-size: 66px;
      line-height: 1.3;

      @include mq('tablet-2', max) {
         font-size: 40px;
      }
   }

   &__title-times {
      display: block;
      margin-bottom: 20px;
      color: $accent;
   }

   &__text {
      margin-bottom: 20px;

      @include mq('tablet-2', max) {
         font-size: 16px;
      }
   }

   &__btn {
      align-items: center;
   }

   &__btn-primary {
      font-size: 18px;
      line-height: 1.3;

      @include mq('tablet-2', max) {
         font-size: 14px;
      }
   }

   &__btn-more {
      height: 30px;
      color: $default;
      margin-left: 34px;
      text-decoration: underline;

      @include mq('tablet-2', max) {
         font-size: 16px;
      }
   }

   &__aside {
      max-width: 560px;
      width: 100%;
      height: 660px;
      @extend %bgi;

      @include mq('desktop', max) {
         width: 500px;
         height: 590px;
      }

      @include mq('tablet-2', max) {
         position: absolute;
         top: 0;
         right: 0;
         z-index: -1;
         width: 305px;
         height: 348px;
         opacity: 0.5;
      }

      @include mq('tablet', max) {}

      @include mq('phone', max) {
         left: 58%;
         top: 20px;
         transform: translateX(-50%);
         width: 255px;
         height: 300px;
      }
   }
}

//                                                          end about
//                                                          start products

.products {
   text-align: center;

   &__title {
      line-height: 1.2;
      margin-bottom: 60px;

      @include mq('tablet-2', max) {
         margin-bottom: 30px;
         font-size: 24px;
      }
   }

   &__items {
      @include line-clamp(1);
      overflow-x: auto;
      margin-bottom: 45px;
      padding: 1px;

      @include mq('tablet-2', max) {
         margin-bottom: 30px;
      }
   }

   &__item:not(:last-child) {
      margin-right: 20px;

      @include mq('tablet-2', max) {
         margin-right: 10px;
      }
   }

   &__btn {
      position: relative;
      padding: 22px 32px 22px 86px;
      line-height: 1.3;
      color: $title;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 0 1px 1px $silver;
      white-space: nowrap;

      @include mq('tablet-2', max) {
         padding: 12px 16px 12px 41px;
         font-size: 14px;
      }

      &:focus {
         background-color: $white;
         color: $title;
         fill: $title;
      }

      &:hover {
         color: $accent ;
         background-color: rgba($accent-low, 0.1);
         fill: $accent;
      }

      &:active {
         box-shadow: inset 0 -5px 12px 0 rgba($accent, 0.2);
         color: $title;
         fill: $title;
      }
   }

   &__btn-image {
      position: absolute;
      left: 32px;
      top: 50%;
      transform: translateY(-50%);
      width: 44px;
      height: 44px;

      @include mq('tablet-2', max) {
         left: 16px;
         width: 20px;
         height: 20px;
      }
   }

   &__btn.mixitup-control-active {
      background-color: $accent;
      color: $white;
      fill: $white;
   }

   &__holder-wrap {
      overflow: hidden;
      height: 632px;

      @include mq('desktop', max) {
         height: 949px;
      }

      @include mq('tablet', max) {
         height: 1257px;
      }

      @include mq('phone', max) {
         height: 1575px;
      }

      @include mq('phone-mini', max) {
         height: 3141px;
      }
   }

   &__holder {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-gap: 30px;
      justify-content: center;

      @include mq('desktop', max) {
         grid-template-rows: repeat(2, 313px);
         grid-gap: 5px;
      }

      @include mq('tablet-2', max) {
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: repeat(3, 313px);
      }

      @include mq('tablet', max) {
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(3, 313px);
      }

      @include mq('phone', max) {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(4, 313px);
      }

      @include mq('phone-mini', max) {
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(6, 313px);
         place-items: center;
      }
   }

   &__holder-item {
      min-width: 172px;
      display: flex;
      justify-content: center;

      @include mq('tablet', max) {
         padding: 2px;
      }

      @include mq('phone-mini', max) {
         width: 100%;
      }
   }

   &__btn-more {
      margin-top: 60px;
      text-decoration: underline;
      color: $title;
   }
}

.product-cart {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   max-width: 208px;
   width: 100%;
   min-height: 299px;
   margin: 1px;
   padding: 20px 15px;
   border-radius: 5px;
   text-align: center;
   background-color: $white;
   box-shadow: 0 0 1px 1px $silver;
   transition: box-shadow 0.4s;

   @include mq('phone-mini', max) {
      max-width: 100%;
   }

   &:hover {
      box-shadow: 0 0 0 1px $accent;
   }

   &__image {
      width: 140px;
      height: 140px;
      margin-bottom: 10px;
   }

   &__description {
      font-weight: 400;
      font-size: 15px;
      line-height: 1.2;
   }

   &__price {
      margin-top: auto;
      margin-bottom: 10px;
      @extend %rubik-500;
      font-size: 15px;
      line-height: 1.4;
      color: $title;
   }

   &__btn {
      padding: 7px 16px;
      font-size: 14px;
      line-height: 1.3;
   }
}

//                                                          end products
//                                                          start delivery

.delivery {

   &__container {
      padding: 0 85px;
      background-repeat: no-repeat;
      background-position: 85px center;
      background-size: 440px 585px;

      @include mq('tablet', max) {
         padding: 0 15px;
         background-position: center;
         background-size: 345px 440px;
      }
   }

   &__inner {
      margin-left: auto;
      padding-top: 58px;
      max-width: 470px;
      width: 100%;
      background-color: rgba($white, 0.3);
      border-radius: 7px;

      @include mq('tablet', max) {
         padding-top: 25px;
         margin: 0 auto;
      }
   }

   &__title {
      margin-bottom: 30px;

      @include mq('tablet', max) {
         font-size: 24px;
      }
   }

   &__text {
      margin-bottom: 30px;

      @include mq('tablet', max) {
         font-size: 16px;
      }
   }

   &__items {
      font-size: 24px;
      color: $title;
      margin-bottom: 30px;

      @include mq('tablet', max) {
         font-size: 18px;
      }
   }

   &__item {
      padding-left: 64px;
      position: relative;
      white-space: nowrap;

      @include mq('phone-mini', max) {
         font-size: 14px;
      }

      &:not(:last-child) {
         margin-bottom: 20px;
      }

      &::before {
         content: '';
         position: absolute;
         left: 0;
         bottom: 0;
         width: 34px;
         height: 34px;
      }

      &--timer::before {
         background-image: url('../images/icons/icon-timer.svg');
      }

      &--car::before {
         background-image: url('../images/icons/icon-car.svg');
      }

      &--resturent::before {
         background-image: url('../images/icons/icon-resturent.svg');
      }
   }

   &__btn {
      margin-bottom: 57px;
      padding: 8px 29px;

      @include mq('tablet', max) {
         margin-bottom: 25px;
      }
   }
}

//                                                        end delivery
//                                                        start restaurant

.restaurant {

   &__title {
      text-align: center;
      margin-bottom: 45px;

      @include mq('tablet', max) {
         margin-bottom: 30px;
      }
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-gap: 30px;

      @include mq('desktop', max) {
         grid-gap: 15px;
      }

      @include mq('tablet-2', max) {
         grid-template-columns: repeat(2, 345px);
         justify-content: center;

         .slick-slider {
            display: none;
         }
      }

      @include mq('tablet', max) {
         grid-template-columns: repeat(1, 345px);

         .slick-dots {
            display: flex;
            justify-content: center;
            font-size: 0;

            li {
               &:not(:last-child) {
                  margin-right: 15px;
               }

               &.slick-active {
                  button {
                     background-color: $accent;
                  }
               }
            }

            button {
               width: 15px;
               height: 15px;
               border-radius: 50%;
               background-color: $gray;
               transition: background-color 0.4s;
            }

         }
      }

      @include mq('phone-mini', max) {
         grid-template-columns: repeat(1, 290px);
      }
   }

   &__item {
      width: 100%;
      background-color: $white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.4s;

      &:hover {
         box-shadow: 0 3px 15px 0 rgba(255, 104, 56, 0.5);
      }
   }

   &__holder {
      padding: 15px 20px 20px 20px;
   }

   &__img {
      width: 370px;
      height: 300px;

      @include mq('desktop', max) {
         width: 100%;
      }
   }

   &__name {
      font-size: 24px;
      line-height: 1.3;
      font-weight: 400;
      margin-bottom: 20px;
      white-space: nowrap;
   }

   &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
   }

   &__time {
      @extend %rubik-300;
      position: relative;
      font-size: 18px;
      line-height: 1;
      padding-left: 30px;

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 0;
         width: 22px;
         height: 22px;
         background-image: url('../images/icons/icon-alarm.svg');
      }
   }

   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px 33px;
      border-radius: 30px;
      background-color: $accent;

      &-image {
         width: 14px;
         height: 12px;
         fill: $white;
         transition: fill 0.4s, transform 0.4s;

      }

      &:focus,
      &:active {
         .restaurant__btn-image {
            fill: $accent;
         }
      }

      &:hover {
         .restaurant__btn-image {
            fill: $accent;
            transform: translateX(20px);
         }
      }
   }
}

//                                                          end restaurant
//                                                          start reviews

.reviews {
   &__title {
      text-align: center;
      margin-bottom: 45px;
      padding-top: 3px;

      @include mq('tablet', max) {
         margin-bottom: 30px;
      }
   }

   &__items {
      padding: 0 50px 0 90px;

      @include mq('tablet-2', max) {
         padding: 0;
      }
   }

   &__holder {
      display: flex;
      align-items: center;

      @include mq('tablet-2', max) {
         flex-direction: column;
      }
   }

   &__img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin-right: 40px;

      @include mq('tablet-2', max) {
         margin-bottom: 20px;
         margin-right: 0;
      }

      @include mq('tablet', max) {
         width: 100px;
         height: 100px;
      }
   }

   &__blockquote {
      max-width: 650px;
      width: 100%;
      margin-bottom: 30px;
      padding: 0 40px;
      position: relative;

      @include mq('tablet', max) {
         font-size: 14px;
         margin-bottom: 20px;
      }

      &::before,
      &::after {
         content: '';
         position: absolute;
         width: 24px;
         height: 19px;
         background-image: url('../images/icons/icon-quotes.svg');
      }

      &::before {
         top: 0;
         left: 0;
      }

      &::after {
         bottom: 0;
         right: 0;
         transform: scaleX(-1);
      }
   }

   &__name {
      display: block;
      margin-bottom: 15px;
      padding-left: 40px;
      @extend %rubik-500;
      line-height: 1.3;
      font-style: normal;
      color: $accent;

      @include mq('tablet', max) {
         font-size: 16px;
         margin-bottom: 10px;
      }
   }

   &__description {
      display: block;
      padding-left: 40px;
      font-size: 14px;
      line-height: 1.3;
   }

   .slick-list {
      margin-bottom: 48px;

      @include mq('tablet', max) {
         margin-bottom: 0;
      }
   }

   .slick-dots {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-bottom: 12px;
      margin-left: -40px;

      @include mq('tablet-2', max) {
         margin-left: 0;
      }

      @include mq('tablet', max) {
         display: none;
      }

      li {
         width: 15px;
         height: 15px;
         border-radius: 50%;

         &:not(:last-child) {
            margin-right: 15px;
         }

         button {
            position: absolute;
            width: 15px;
            height: 15px;
            font-size: 0;
            border-radius: 50%;
            background-color: $gray;
            transition: box-shadow 0.4s, background-color 0.4s;


            &:focus {
               box-shadow: 0px 0px 0px 2px rgba($accent, 0.7);
            }

            &:hover {
               background-color: rgba($accent, 0.1);
               box-shadow: 0px 0px 0px 2px rgba($accent, 0.3);
            }

            &:active {
               background-color: rgba($accent, 0.4);
               box-shadow: none;
            }
         }

         &.slick-active {
            button {
               background-color: $accent;
            }
         }
      }
   }

   .slick-arrow {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 3px solid $gray;
      font-size: 0;
      background-image: url('../images/icons/slider-arrow.svg');
      background-repeat: no-repeat;
      background-position: 10px center;
      transition: box-shadow 0.4s, background-color 0.4s, border-color 0.4s;

      @include mq('tablet', max) {
         top: 30px;
      }

      &:focus {
         box-shadow: 0px 0px 0px 2px rgba($accent, 0.7);
      }

      &:hover {
         border-color: rgba($accent, 0.3);
      }

      &:active {
         border-color: rgba($accent, 0.1);
         background-color: rgba($accent, 0.1);
         box-shadow: none;
      }
   }

   .slick-prev {
      transform: translateX(-280%);
   }

   .slick-next {
      transform: translateX(183%) rotate(180deg);
   }
}

//                                                       end reviews
//                                                       start application

.application {
   padding-bottom: 120px;

   @include mq('tablet-2', max) {
      margin-bottom: 40px;
      padding-bottom: 0;
   }

   &__inner {
      background-image: url('../images/application-bg.jpg');
      background-repeat: no-repeat;
      background-size: 570px 380px;
      background-position: right center;

      @include mq('desktop', max) {
         background-size: 450px 300px;
      }

      @include mq('tablet-2', max) {
         background-image: none;
         display: flex;
         justify-content: center;
      }
   }

   &__holder {
      padding: 46px 0 36px 0;
      max-width: 540px;
      width: 100%;

      @include mq('tablet-2', max) {
         padding: 0;
      }
   }

   &__title {
      margin-bottom: 45px;

      @include mq('tablet', max) {
         margin-bottom: 15px;
      }
   }

   &__text {
      margin-bottom: 30px;

      @include mq('tablet', max) {
         margin-bottom: 15px;
      }

      @include mq('phone', max) {
         font-size: 14px;
      }
   }

   &__item:not(:last-child) {
      margin-right: 30px;
   }

   &__link {
      display: block;
      width: 120px;
      height: 40px;
      border-radius: 10px;
      overflow: hidden;

      &--google-play {
         width: 135px;
      }
   }

   &__icon {
      @extend %bgi;
   }

   &__img {
      width: 570px;
      height: 380px;
   }
}

//                                                       end application
//                                                       start footer

.logo-and-form {
   max-width: 200px;
   width: 100%;

   @include mq('desktop', max) {
      grid-column: 1;
      grid-row: 1;
   }

   &__mb {
      margin-bottom: 30px;
   }

   &__form-email {
      margin-bottom: 12px;
      padding: 7px 15px;
      width: 100%;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 1px 1px $silver;
      transition: box-shadow 0.4s, color 0.4s;

      &::placeholder {
         font-size: 14px;
         line-height: 1.3;
         color: $gray;
         transition: color 0.4s;
      }

      &:focus {
         box-shadow: 0 0 0 2px $accent;
      }

      &:hover::placeholder {
         color: $title;
      }
   }

   &__form-btn {
      position: relative;
      padding: 13px 39px 13px 70px;
      width: 100%;
      @extend %rubik-500;
      font-size: 14px;
      line-height: 1.3;

      &:focus {
         & .logo-and-form__form-svg {
            fill: $accent;
         }
      }

      &:hover {
         & .logo-and-form__form-svg {
            fill: $accent;
         }
      }

   }

   &__form-svg {
      position: absolute;
      left: 40px;
      top: 55%;
      transform: translateY(-50%);
      width: 17px;
      height: 16px;
      fill: $white;
   }
}

.footer {
   &__inner {
      display: grid;
      grid-template-columns: 200px 1fr 200px;
      grid-gap: 85px;
      justify-content: space-between;
      margin-bottom: 60px;

      @include mq('desktop', max) {
         grid-template-columns: repeat(2, auto);
         grid-gap: 30px;
         grid-column-gap: 0px;
         justify-content: center;
      }

      @include mq('tablet', max) {
         grid-template-columns: 1fr;
         grid-template-rows: auto auto 1fr;
         margin-bottom: 30px;
      }
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-auto-flow: column;
      grid-column-gap: 74px;
      max-width: 571px;
      width: 100%;
      padding-bottom: 10px;

      @include mq('desktop', max) {
         grid-column: span 2;
         grid-row: 2;
      }

      @include mq('tablet-2', max) {
         grid-column-gap: 30px;
      }

      @include mq('tablet', max) {
         grid-template-columns: 1fr;
         grid-auto-flow: row;
         grid-column: 1;
         grid-row: 3;
         grid-gap: 10px;
      }
   }

   &__item {
      max-width: max-content;
      white-space: nowrap;
   }

   &__item-link {
      display: inline-block;
      max-width: fit-content;
      font-size: 18px;
      line-height: 1.3;
   }

   &__bottom {
      padding: 30px 0;
      font-size: 14px;
      line-height: 1;
      border-top: 1px solid rgba($gray, 0.2);
      text-align: center;
   }
}

.contacts {
   @include mq('desktop', max) {
      grid-column: 2;
      grid-row: 1;
   }
   @include mq('tablet', max) {
      grid-column: 1;
      grid-row: 2;
   }

   &__info {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 31px;
      padding-right: 2px;
      font-size: 16px;
      line-height: 2;
      max-width: fit-content;

      &:not(:last-child) {
         margin-bottom: 15px;
      }

      &::before {
         content: '';
         position: absolute;
         width: 24px;
         height: 24px;
         left: 0;
         fill: $white;
         stroke: $default;
      }

      &--adress::before {
         background-image: url('../images/icons/icon-location.svg');
      }

      &--phone::before {
         background-image: url('../images/icons/icon-phone.svg');
      }

      &--email::before {
         background-image: url('../images/icons/icon-message.svg');
      }
   }

   &__social-item:not(:last-child) {
      margin-right: 13px;
   }

   &__social-link {
      display: block;
      width: 39px;
      height: 39px;
      position: relative;
      background-color: $silver;
      border-radius: 50%;

      &:focus {
         fill: $default;
      }

      &:hover {
         background-color: $accent;
         box-shadow: none;
         fill: $white;
      }

      &:active {
         background-color: rgba($accent, 0.2);
         fill: $accent;
      }
   }

   &__svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 21px;
      width: 100%;
      height: 20px;
      background-color: transparent;
   }
}

//                                                          end footer