<!DOCTYPE html>
<html lang="ru">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SimpleFood</title>
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <link rel="stylesheet" href="css/catalog.min.css">
   </head>

   <body>

      {% include 'app/module/_header/_header.html' %}

      <main class="main">

         <nav class="breadcrumbs">
            <div class="container">
               <ul class="breadcrumbs__items d-flex">
                  <li class="breadcrumbs__item">
                     <a class="breadcrumbs__link" href="#">Главная</a>
                  </li>
                  <li class="breadcrumbs__item">
                     <a class="breadcrumbs__link">Каталог товаров</a>
                  </li>
               </ul>
            </div>
         </nav>

         <section class="catalog-products section">
            <div class="container">
               <div class="catalog-products__holder">
                  <h2 class="title">
                     Каталог продуктов
                     </h2>

                  <div class="catalog-products__selects">
                     <button class="catalog-products__filter-btn" type="button"></button>
                     <select class="catalog-products__select">
                        <option class="catalog-products__option" value="1">По названию</option>
                        <option class="catalog-products__option" value="2">По цене</option>
                        <option class="catalog-products__option" value="3">По скидке</option>
                     </select>
                     <select class="catalog-products__select">
                        <option class="catalog-products__option" value="1">По 12</option>
                        <option class="catalog-products__option" value="2">По 12</option>
                        <option class="catalog-products__option" value="3">По 12</option>
                        <option class="catalog-products__option" value="4">По 12</option>
                     </select>
                  </div>

               </div>

               <div class="catalog-products__inner">

                  <ul class="catalog-filter">

                     <li class="catalog-filter__category">
                        <h3 class="catalog-filter__title">Категории</h3>

                        <ul class="catalog-filter__category-items">
                           <li class="catalog-filter__category-item">
                              <button class="catalog-filter__btn">Бургеры</button>
                           </li>
                           <li class="catalog-filter__category-item">
                              <button class="catalog-filter__btn">Пицца</button>
                           </li>
                           <li class="catalog-filter__category-item">
                              <button class="catalog-filter__btn">Сендвичи</button>
                           </li>
                           <li class="catalog-filter__category-item">
                              <button class="catalog-filter__btn">Азиатская кухня</button>
                           </li>
                           <li class="catalog-filter__category-item">
                              <button class="catalog-filter__btn">Сеты</button>
                           </li>
                           <li class="catalog-filter__category-item">
                              <button class="catalog-filter__btn">Европейская кухня</button>
                           </li>
                           <li class="catalog-filter__category-item">
                              <button class="catalog-filter__btn">Напитки</button>
                           </li>
                           <li class="catalog-filter__category-item">
                              <button class="catalog-filter__btn">Алкоголь</button>
                           </li>
                        </ul>

                     </li>
                     <li class="catalog-filter__category">
                        <h3 class="catalog-filter__title">Предложения</h3>
                        <form class="catalog-filter__offers">
                           <label class="catalog-filter__offers-label">
                              <input class="catalog-filter__offers-input" type="checkbox">
                              <span class="catalog-filter__offers-checkbox"></span>
                              Со скидкой
                           </label>
                           <label class="catalog-filter__offers-label">
                              <input class="catalog-filter__offers-input" type="checkbox">
                              <span class="catalog-filter__offers-checkbox"></span>
                              Новинка
                           </label>
                           <label class="catalog-filter__offers-label">
                              <input class="catalog-filter__offers-input" type="checkbox">
                              <span class="catalog-filter__offers-checkbox"></span>
                              Хит
                           </label>
                        </form>
                     </li>

                     <li class="catalog-filter__category">
                        <h3 class="catalog-filter__title">Цена</h3>
                        <form class="catalog-filter__price" action="#">

                           <label class="catalog-filter__price-label">
                              <span class="catalog-filter__price-cover">
                                 <input class="catalog-filter__price-value catalog-filter__price-from" type="text">
                              </span>
                              <span class="catalog-filter__price-cover">
                                 <input class="catalog-filter__price-value catalog-filter__price-to" type="text">
                              </span>
                           </label>

                           <label class="catalog-filter__price-label-box">
                              <input class="catalog-filter__price-input" data-min="0" data-max="1000" data-from="100" data-to="900" type="text">
                           </label>
                        </form>
                     </li>
                     <button class="catalog-filter__shadow"></button>
                     <button class="catalog-filter__cross"></button>
                  </ul>
                  <div class="catalog-products__content">
                     <ul class="catalog-products__list">

                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
                        </li>

                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
                        </li>

                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
                        </li>
                        <li class="catalog-products__list-item">
                           {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
                        </li>

                     </ul>
                     <div class="pagination">
                        <span class="pagination__prev"></span>
                        <ul class="pagination__list">
                           <li class="pagination__item pagination__item--active">
                              <span class="pagination__link" href="#">1</span>
                           </li>
                           <li class="pagination__item">
                              <a class="pagination__link" href="#">2</a>
                           </li>
                           <li class="pagination__item">
                              <span class="pagination__link">...</span>
                           </li>
                           <li class="pagination__item">
                              <a class="pagination__link" href="#">9</a>
                           </li>
                           <li class="pagination__item">
                              <a class="pagination__link" href="#">10</a>
                           </li>
                        </ul>
                        <span class="pagination__next"></span>
                     </div>
                  </div>
               </div>

            </div>
         </section>

         {% include 'app/module/_application/_application.html' %}

         <section class="discount section">
            <div class="container">
               <h3 class="title discount__title">Акции и скидки</h3>
               <ul class="discount__inner">

                  <li class="restaurant__item">
                     <img class="restaurant__img" src="images/restaurant/blaze.jpg" alt="отрезанная пицца на лопатке" width="370"
               height="300">
                     <div class="restaurant__holder">
                        <h3 class="restaurant__name">
                           Скидка 50% на вторую пиццу
                           </h3>
                     </div>
                  </li>

                  <li class="restaurant__item">
                     <img class="restaurant__img" src="images/restaurant/kfc.jpg" alt="картошка фри и бургер" width="370"
               height="300">
                     <div class="restaurant__holder">
                        <h3 class="restaurant__name">
                           Картошечка из KFC даром при заказе бургера
                           </h3>
                     </div>
                  </li>

                  <li class="restaurant__item">
                     <img class="restaurant__img" src="images/restaurant/star.jpg" alt="черный бургер и картошка фри на тарелке"
               width="370" height="300">
                     <div class="restaurant__holder">
                        <h3 class="restaurant__name">
                           Чёрные бургеры на чёрный день
                           </h3>
                     </div>
                  </li>
               </ul>
            </div>
         </section>

      </main>

      {% include 'app/module/_footer/_footer.html' %}

      <script src="js/main.min.js"></script>
   </body>

</html>