<section class="products section" id="products">
   <div class="container">
      <h2 class="title products__title">Популярные категории</h2>

      <ul class="products__items d-flex">
         <li class="products__item">
            <button class="products__btn animation-svg" type="button" data-filter="all">
               <svg class="products__btn-image">
                  <use xlink:href="images/sprite.svg#icon-burger"></use>
               </svg>
               Бургеры
            </button>
         </li>
         <li class="products__item">
            <button class="products__btn animation-svg" type="button" data-filter=".category-pizza">
               <svg class="products__btn-image">
                  <use xlink:href="images/sprite.svg#icon-pizza"></use>
               </svg>
               Пицца
            </button>
         </li>
         <li class="products__item">
            <button class="products__btn animation-svg" type="button" data-filter=".category-sendvich">
               <svg class="products__btn-image">
                  <use xlink:href="images/sprite.svg#icon-sendvich"></use>
               </svg>
               Сендвичи
            </button>
         </li>
         <li class="products__item">
            <button class="products__btn animation-svg" type="button" data-filter=".category-asia">
               <svg class="products__btn-image">
                  <use xlink:href="images/sprite.svg#icon-asia"></use>
               </svg>
               Азиатская кухня
            </button>
         </li>
         <li class="products__item">
            <button class="products__btn animation-svg" type="button" data-filter=".category-dish">
               <svg class="products__btn-image">
                  <use xlink:href="images/sprite.svg#icon-dish"></use>
               </svg>
               Cеты
            </button>
         </li>
      </ul>
      <div class="products__holder-wrap">

         <ul class="products__holder mix category-burger">

            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>

            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>
            
         </ul>
         <ul class="products__holder mix category-pizza">
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>
            
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>

         </ul>
         <ul class="products__holder mix category-sendvich">

            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>
            
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>
         </ul>
         <ul class="products__holder mix category-asia">
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>
            
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>
         </ul>
         <ul class="products__holder mix category-dish">
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>
            
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-cheeseburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-beefburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-royal.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-hamburger.html' %}
            </li>
            <li class="products__holder-item">
               {% include 'app/module/_products/_product-cart/_product-cart-chicken.html' %}
            </li>
         </ul>

      </div>

      <button class="products__btn-more animation-text" type="button">Показать еще</button>

   </div>
</section>